body {
    background-color: #111111;
}

.about_info {
    margin-top: 3vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vmin;
}

.playing_image {
    width: 70%;
    height: auto;
    border: solid 1vmin;
    border-image: linear-gradient(45deg, #66FCF1, #86C232, #FF3131) 1;
}

.heading {
    color: #C0C0C0;
    font-weight: 1000;
    font-size: 5vw;
    margin: 0;
    margin-top: 3vmin;
}

.benefit {
    color: #C0C0C0;
    font-weight: 500;
    font-size: 3vw;
    margin: 0;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}

ul {
    padding: 0;
}

.date, .time, .location, .address {
    color: #C0C0C0;
    opacity: 0.9;
    font-size: 3vw;
    font-weight: 500;
    list-style-type: circle;
    list-style: #C0C0C0;
}

.reason_container {
    margin-left: 10%;
    margin-right: 10%;
}

.reason_heading {
    color: #C0C0C0;
    font-size: 4vw;
    font-weight: 1000;
    opacity: 1.0;
    text-align: left;
}

.reason {
    color: #C0C0C0;
    opacity: 0.8;
    font-size: 3vw;
    font-weight: 500;
}

.links {
    width: 100%;
    margin-bottom: 3vmin;
}

.link_heading {
    display: block;
    color: #C0C0C0;
    font-size: 4vw;
    font-weight: 1000;
    opacity: 1.0;
    text-align: left;
    margin-left: 10%;
}

.summitWeb, .yt {
    display: block;
    color: #C0C0C0;
    font-size: 3vw;
    font-weight: 500;
    text-align: left;
    margin-left: 15%;
    border: solid 0.5vmin;
    margin-top: 3vmin;
    background: transparent;
    padding: 2vmin 3vmin 2vmin 3vmin;
}

.summitWeb {
    border-image: linear-gradient(45deg, red, orange, yellow) 1;
}

.yt {
    border-image: linear-gradient(45deg, blue, indigo, violet) 1;
}

.summitWeb:hover {
    border-image: none;
    border-color: white;
}

.yt:hover {
    border-image: none;
    border-color: white;
}

.return {
    margin-top: 8vmin;
    border: solid 0.75vmin;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-image: linear-gradient(to right, #111111, white, #111111) 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.goBack {
    display: block;
    color: #C0C0C0;
    font-size: 3vw;
    font-weight: 500;
    text-align: center;
    border: solid 0.5vmin;
    border-radius: 1vmin;
    border-color: #66FCF1;
    background: transparent;
    padding: 2vmin 3vmin 2vmin 3vmin;
    margin-top: 3vmin;
    margin-bottom: 3vmin;
}

.goBack:hover {
    border-color: white;
}
