body {
    display: grid;
    grid-template-rows: 0.5fr 0.5fr 5.5fr 0.4fr;
    grid-template-columns: 1fr 4fr 1fr;
    background-color: #111111;
}

/* Heading Styles




*/

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    grid-area: 1/1/2/4;
    background-color: #111111;
    margin-bottom: 5vmin;
    gap: 1vmin;
    margin-left: 15%;
    margin-right: 15%;
    border-style: solid;
    border-top: none;
    border-width: 1vmin;
    border-image: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, purple) 1;
}

.title_container, .title_container2 {
    display: flex;
    gap: 1vmin;
    justify-content: center;
    align-items: center;
    height: 9vmin;
    margin-top: 2vmin;
}

.title_container2 {
    margin-top: 0;
}

.S, .U, .M1, .M2, .I, .T, .F, .U2, .N, .D, .R, .A, .I2, .S2, .E, .R2 {
    font: "overpass", sans-serif;
    font-size: 8vmin;
    font-weight: 1000;
    opacity: 0.8;
}

.S, .M2, .F, .D, .I2, .R2 {
    color: #66FCF1;
}

.U, .I, .U2, .R, .S2 {
    color: #86C232;
}

.M1, .T, .N, .A, .E {
    color: #FF3131;
}

.about {
    color: #C5C6C7;
    background-color: transparent;
    font-size: 3vmin;
    border: solid 0.5vmin;
    border-image: linear-gradient(45deg, #66FCF1, #86C232, #FF3131) 1;
    font-size: 3vmin;
    word-wrap: break-word;
    min-width: 80px;
    max-width: 220px;
    width: 20vmin;
    padding: 2vmin 3vmin 2vmin 3vmin;
    text-align: center;
    margin-top: 3vmin;
    margin-bottom: 3vmin;
}

.about:hover {
    border-image: none;
    border-color: white;
}

.donate_header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    grid-area: 2/1/3/4;
    position: sticky;
    top: 0px;
    align-items: center;
    padding-bottom: 3vmin;
    background-color: #111111;
}

.instruction {
    text-align: center;
    font-size: 3vmin;
    font-weight: bold;
    font: "arvo", sans-serif;
    color: #C0C0C0;
}

.thank {
    color: #C5C6C7;
    background-color: transparent;
    font-size: 3vmin;
    border: solid 0.5vmin;
    border-color: orange;
    font-size: 3vmin;
    border-radius: 1vmin;
    word-wrap: break-word;
    min-width: 80px;
    max-width: 220px;
    width: 20vmin;
    padding: 2vmin 3vmin 2vmin 3vmin;
    text-align: center;
    opacity: 0.2;
}

.thank:hover {
    border-color: white;
}



/* Form Styles



*/



form {
    background-image: radial-gradient(#0B0C10, #111111);
    grid-row: 3/4;
    grid-column: 2/3;
    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(2,1fr);
    color: #C0C0C0;
    font: "arvo", sans-serif;
    font-weight: bold;
    gap: 5vmin;
    padding: 3vmin;
    border: 1vmin solid;
    border-top: none;
    border-bottom: none;
    border-image: linear-gradient(to bottom, #222222, #C0C0C0 33%, #222222, #C0C0C0 66%, #222222, #C0C0C0 100%) 1;
}


.firstLabel, .lastLabel, .emailLabel, .donationLabel, .attendance, .amountHeading,
.yesLabel, .noLabel, .anonymousText, .yesAnonLabel, .noAnonLabel {
    font-size: 4vmin;
    font-weight: 500;
}
/*Contact Info*/

.contactHeading {
    flex: none;
    font-size: 5vmin;
    font-weight: 1000;
}

.contactInfo {
    grid-row: 2/3;
    grid-column: 1/3;
}

.contactCon {
    display: flex;
    flex-direction: column;
    gap: 4vmin;
}

.inputField {
    display: block;
    color: #C5C6C7;
    border: solid 0.5vmin;
    border-radius: 1vmin;
    border-color: #66FCF1;
    font-size: 4vmin;
    background-color: transparent;
    width: 26vmin;
    margin-top: 2vmin;
}

#emailA {
    width: 40vmin;
}

.yesAnonGroup, .noAnonGroup, .firstNameGroup, .lastNameGroup, .emailGroup {
    margin-left: 2vmin;
}

.firstNameGroup {
    margin-top: 3vmin;
}

.yesAnonGroup, .noAnonGroup {
    display: inline-block;
}

.anonymousText {
    margin-left: 2vmin;
    margin-bottom: 1vmin;
}

/*Donation Info*/

.donationHeading {
    flex: none;
    font-size: 5vmin;
    font-weight: 1000;
}

.donationInfo {
    grid-row: 1/2;
    grid-column: 1/3;
}

.dateGroup {
    margin-left: 2vmin;
}

#donationDate {
    display: block;
    color: #C5C6C7;
    border: solid 0.5vmin;
    border-radius: 1vmin;
    border-color: #66FCF1;
    font-size: 4vmin;
    background-color: transparent;
    margin-top: 2vmin;

}

.donationLabel {
    font-size: 4vmin;
    font-weight: 500;
}

.yesGroup, .noGroup, .attendance {
    text-align: left;
    padding: 2vmin;
}



/*Comments*/

.otherInfo {
    grid-row: 3/4;
    grid-column: 1/3;
    margin-top: 4vmin;
    margin-bottom: 8vmin;
}

.commentHeading {
    font-size: 5vmin;
    font-weight: 1000;
}

.commentCon {
    display: flex;
    justify-content: center;
}

.comments {
    background-color: transparent;
    resize: none;
    display: block;
    color: #C5C6C7;
    border: solid 0.5vmin;
    border-radius: 1vmin;
    border-color: #66FCF1;
    font-size: 4vmin;
}

/* Submit+Reset*/
    
.submission {
    grid-row: 5/6;
    grid-column: 1/3;
    display: flex;
    justify-content: space-around;
    margin-bottom: 3vmin;
}

.button_link {
    display: flex;
    width: 30%;
    height: 140%;
    text-decoration: none;
    padding: 1.5% 4% 1.5% 4%;
    min-width: 60px;
    max-width: 200px;
}

.reset_container {
    display: flex;
    width: 30%;
    height: 140%;
    padding: 1.5% 4% 1.5% 4%;
    min-width: 60px;
    max-width: 200px;
}

.submitB,
.resetB {
    color: #C5C6C7;
    background-color: transparent;
    font-size: 3vmin;
    width: 30%;
    height: 140%;
    border: solid 0.5vmin;
    border-color: #FF3131;
    font-size: 3vmin;
    width: auto;
    border-radius: 1vmin;
    word-wrap: break-word;
    min-width: 60px;
    max-width: 200px;
}

.submitB {
    border-color: #86C232;
    width: 100%;
    height: 100%;
}

.submitB:hover {
    border-color: white;
}

.resetB {
    border-color: #FF3131;
    width: 100%;
    height: 100%;
}

.resetB:hover {
    border-color: white;
}

.submit_instruction {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 4/5;
    grid-column: 1/4;
}

.submit_text {
    display: block;
    text-align: center;
    font-size: 3vmin;
    font-weight: bold;
    font: "arvo", sans-serif;
    color: #C0C0C0;
}

/* Button Link */

/* Side Bar Styles



*/

/* Left */

.left-side-bar {
    display: grid;
    grid-area: 2/1/3/2;
    background-color: #111111;
}

/* Right */

.right-side-bar {
    display: grid;
    grid-area: 2/3/3/4;
    background-color: #111111;
}

/* Footer Styles



*/

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: 4/1/5/4;
    background-color: #111111;
    margin-bottom: 2vmin;
    gap: 1vmin;
    margin-top: 2vmin;
}

.contact {
    color: #C5C6C7;
    font-size: 4vmin;
    font-weight: 1000;
    padding: 0;
    margin: 0;
}

.myEmail {
    color: #C5C6C7;
    font-size: 3vmin;
    font-weight: 500;
    padding: 0;
    margin: 0;
}
